<!-- include header  -->
{% include 'include/header.html' %}

<!-- content area  -->
<div class="heading_cls">
    <h1 class="heading_one">Books Directory</h1>
    <span class="nearheadin_span">Explore the book for best recommendations</span>
</div>

{% if inspired_books_for_you %}
    <div class="heading_cls">
        <span class="nearheadin_span">Inspired by you</span>
    </div>

    <div class="product_container">
        <div class="product_parent">

            {% for book in inspired_books_for_you %}
                <div class="each_product">
                    <div class="product_img_container">
                        <img class="img_product" src="{{ static_url }}static/img/loading.webp"
                            data-src="{{ static_url }}static/img/open_black_book.svg" />
                    </div>
                    <div class="product_content">
                        <h2 class="product_title">{{ book['Title'] }}</h2>
                        <h3 class="category">{{ book['Genre'] }}</h3>
                        <div class="price_and_buy">
                            <button class="btn custom_btn"><a href="/book_detail/{{ book['book_id'] }}">Read More</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <hr />
{% endif %}


<!-- products list  -->
<div class="product_container">
    <div class="product_parent" id="product_parent_pagination">

        {% for book in BooksForHome %}
        <div class="each_product">
            <div class="product_img_container">
                <img class="img_product" src="{{ static_url }}static/img/loading.webp"
                    data-src="{{ static_url }}static/img/open_black_book.svg" />
            </div>
            <div class="product_content">
                <h2 class="product_title" title="{{ book['Title'] }}">{{ book['truncate_title'] }}</h2>
                <h3 class="category">{{ book['Genre'] }}</h3>
                <div class="price_and_buy">
                    <button class="btn custom_btn"><a href="/book_detail/{{ book['book_id'] }}">Read More</a></button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% if is_more_page %}
    <button class="btn show_more_btn" id="pagination" data-page="1">Show More</button>
    {% endif %}
</div>

<!-- faq -->
<div class="heading_cls">
    <h1 class="heading_one heading_two">FAQs</h1>
    <span class="nearheadin_span">Clear Your Doubts by FAQs</span>
</div>

<div class="container faq_container my-3">
    <div class="faq_parent_ul">
        <div class="li">
            <input type="radio" name="per_item_faq" id="faq_child_1" />
            <label for="faq_child_1">How does this book recommendation system work?</label>
            <div class="ans_content">
                <p>This book recommendation system operates based on your interests in different genres. If you click on any book and then return to the homepage, you will see book recommendations tailored to your preferences. Additionally, if you search for a specific book, the system will suggest relevant titles. All of these features are powered by machine learning algorithms.</p>
            </div>
        </div>

        <div class="li">
            <input type="radio" name="per_item_faq" id="faq_child_2" />
            <label for="faq_child_2">How do you train the model? </label>
            <div class="ans_content">
                <p>When you upload a new dataset, the system will automatically store the data in the database, retrain the model based on your data, and create a .pkl file. This file will be uploaded to an S3 bucket for easy access, eliminating the need for frequent model retraining.</p>
            </div>
        </div>

        <div class="li">
            <input type="radio" name="per_item_faq" id="faq_child_4" />
            <label for="faq_child_4">How to set up the model?</label>
            <div class="ans_content">
                <p>Click the link or icon to visit GitHub and read the README.md file for setup instructions.</p>
            </div>
        </div>

        <div class="li">
            <input type="radio" name="per_item_faq" id="faq_child_5" />
            <label for="faq_child_5">Where are the complete docs about the project?</label>
            <div class="ans_content">
                <p>All documentation like Complete documentation for the project, including HLD, LLD, and architecture, is available in the docs folder of the GitHub repository.</p>
            </div>
        </div>

    </div>
</div>


<!-- include footer  -->
{% include 'include/footer.html' %}